@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap');

/* - Dark Text: hsl(229, 25%, 31%)
- Score Text: hsl(229, 64%, 46%)
- Header Outline: hsl(217, 16%, 45%)
- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%) */

:root {
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
    --white: rgb(255, 254, 254);
    --color-rock: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
    --color-paper: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
    --color-scissors: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:focus {
    outline: none !important;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    padding: 45px 40px;
    text-transform: uppercase;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}

.rules-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 40%;
    min-width: 400px;
    max-width: 600px;
    aspect-ratio: 1/1;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 8px;
    padding: 10px 30px 50px;
    background-color: rgba(255, 254, 254, 0.977);
}
.rules-modal img {
    width: 70%;
}

.modal-title {
    color: var(--dark-text);
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-modal {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 600;
    color: var(--header-outline);
    cursor: pointer;
}

.btn-rules {
    position: absolute;
    color: var(--header-outline);
    background: none;
    border: 2px solid var(--header-outline);
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    right: 2vw;
    bottom: 5vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 1px;
    transition: all 0.2s;
}

.btn:hover {
    box-shadow: -10px 15px 2px rgba(0, 0, 0, 0.2);
}
.btn-rules:hover,
.close-modal:hover {
    transform: scale(1.2);
}

header {
    text-transform: uppercase;
    border: solid 2px var(--header-outline);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 12px 24px;
    border-radius: 10px;
    color: var(--white);
}

h1 span {
    display: block;
    line-height: 25px;
}

.score-box {
    color: var(--dark-text);
    background-color: var(--white);
    padding: 12px 42px;
    text-align: center;
    border-radius: 5px;
}

.score-box span {
    font-weight: 600;
    color: var(--score-text);
    font-size: 15px;
    letter-spacing: 1px;
}

.points {
    display: block;
    font-size: 45px;
}

main {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    padding: 20vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section options */
.options {
    background-image: url('images/bg-triangle.svg');
    background-size: cover;
    width: 50%;
    aspect-ratio: 313/278;
    position: relative;
}

.options .btn {
    position: absolute;
    width: 45%;
}

.btn {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset 2px -7px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.btn img {
    width: 50%;
}
.btn-img-container {
    background-color: var(--white);
    width: 80%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset -5px 6px 2px rgba(0, 0, 0, 0.2);
}

.options .btn--paper:hover {
    transform: scale(1.2) translate(-40%, -40%);
    box-shadow: -10px 15px 2px rgba(0, 0, 0, 0.2);
}

.options .btn--scissors:hover {
    transform: scale(1.2) translate(40%, -40%);
    box-shadow: -10px 15px 2px rgba(0, 0, 0, 0.2);
}

.options .btn--rock:hover {
    transform: scale(1.2) translate(-40%, 40%);
    box-shadow: -10px 15px 2px rgba(0, 0, 0, 0.2);
}

.options .btn--paper:active {
    transform: scale(1.1) translate(-40%, -40%);
}

.options .btn--scissors:active {
    transform: scale(1.1) translate(40%, -40%);
}

.options .btn--rock:active {
    transform: scale(1.1) translate(-40%, 40%);
}

.btn--paper {
    background: linear-gradient(var(--color-paper));
}

.btn--scissors {
    background: linear-gradient(var(--color-scissors));
}

.btn--rock {
    background: linear-gradient(var(--color-rock));
}

.options .btn--paper {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.options .btn--scissors {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}

.options .btn--rock {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.options.animated {
    animation-name: optionsDisapear;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes optionsDisapear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* section fight */
.fight {
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    position: relative;
}

.fight.animated {
    animation-name: fightApear;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    backface-visibility: hidden;
}

@keyframes fightApear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pick {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.pick span {
    padding: 0 0 40px;
}

.fight .btn {
    width: 100%;
    cursor: default;
}

.pick--player .btn {
    animation-name: displayBtn;
    animation-name: displayBtn;
    animation-delay: 1.2s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
}

.placeholder {
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.197);
    margin-top: 10%;
    z-index: -1;
}

.pick--ai .btn {
    position: relative;
    top: -40%;
    animation-name: displayBtn;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.pick--ai.animated {
    animation-name: moveRight;
}

.pick--player.animated {
    animation-name: moveLeft;
}
.pick--ai.animated,
.pick--player.animated {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 3s;
}

.result-container {
    position: absolute;
    top: -5%;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    width: 50%;
    height: 50%;
    margin-top: 10%;
    animation-name: displayBtn;
    animation-delay: 3.7s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.result--message {
    display: block;
    padding: 0 0 20px;
}

.btn-play-again {
    width: 70%;
    height: 50px;
    text-transform: uppercase;
    border: none;
    background-color: var(--white);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--dark-text);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    box-shadow: -7px 7px 2px rgba(0, 0, 0, 0.2);
}

.btn-play-again:hover {
    transform: scale(1.1);
    box-shadow: -15px 15px 2px rgba(0, 0, 0, 0.2);
}

.btn-play-again:active {
    transform: scale(1.05);
}

@keyframes displayBtn {
    0% {
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50%);
    }
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 3vh;
    background: var(--white);
    bottom: 0;
    left: 0;
    z-index: -1;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
.hidden {
    display: none;
}

@media screen and (max-width: 450px) {
    .score-box {
        padding: 6px 24px;
    }

    .pick {
        font-size: 13px;
        padding: 50px 0;
    }

    .pick span {
        padding: 0 0 20px;
    }

    .result-container {
        top: -30%;
    }

    @keyframes moveLeft {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-40%);
        }
    }

    @keyframes moveRight {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(40%);
        }
    }

    .rules-modal {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }

    .modal-title span {
        justify-content: center;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
    }

    .rules-modal img {
        position: absolute;
        top: 35%;
    }

    .close-modal {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%);
    }

    footer {
        font-size: 12px;
    }
}
